/* blog.css */

.blog_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F9F9F9;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .left_side,
  .right_sideblog {
    flex: 1;
    box-sizing: border-box;
  }
  
  .left_side {
    padding: 40px;
    text-align: left;
  }
  
  .left_side h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #224720;
  }
  
  .left_side p {
    font-size: 1.2rem;
    color: #224720;
    line-height: 2;
    margin-bottom: 30px;
  }
  
  .left_side ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .left_side li {
    font-size: 1.2rem;
    color: #224720;
    margin-bottom: 10px;
    margin-left: 3rem;
  }
  
  .left_side button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #234821;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .left_side button:hover {
    background-color: #2c3e50;
  }
  
  .right_sideblog {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .right_sideblog img {
    width: 100%;
    height: auto;
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
    animation: borderAnimate 1.5s ease infinite alternate;
  }
  
  @keyframes borderAnimate {
    0% {
      border-width: 2px;
    }
    100% {
      border-width: 10px;
    }
  }
  @media screen and (max-width: 768px){
    .blog_container{
      display: flex;
      flex-direction: column;
    }
  }
  
  
    
    