/* Contact.css */

.contact_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .left_container {
    flex: 1;
  }
  
  .left_container h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .left_container p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .left_container small {
    display: block;
    font-size: 1rem;
    color: #777;
    margin-bottom: 10px;
  }
  
  .left_container button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #234821;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .left_container button:hover {
    background-color: #329D23;
  }
  
  .right_container {
    flex: 1;
  }
  
  .help_image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  @media screen and (max-width: 768px){

    .contact_container{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      padding: 30px;
    }
  }