/* Add your custom CSS styles here */
body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}
.form-group_container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

.delete-action {
    background-color: rgb(236, 17, 28);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.update-action {
    background-color: #7de65a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.farmer_container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.form-container {
    width: 45%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.quantity-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-list-container {
    width: 45%;
}

.product-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.product-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-number {
    font-weight: bold;
    margin-right: 10px;
}
.product-actions {
    display: flex;
    flex-direction: row;
}
.product-actions button {
    margin-left: 10px;
}

.product-image {
    max-width: 100px;
    max-height: 100px;
    margin-left: 10px;
    border-radius: 100%;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #4caf50;
    background-color: #4caf50;
    color: white;
}
