
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #7de65a;
    color: #26461B;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.links {
    display: flex;
    flex-direction: row;
}

.links a {
    color: #26461B;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.links a:hover {
    color: #329D23;
}

.connect a {
    color: #26461B;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1rem;
    transition: background-color 0.3s, color 0.3s;
}

.connect a:hover {
    background-color: #329D23;
    color: white;
    border-radius: 3px;
    padding: 8px 15px;
}

.menu-btn {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
}

.bar {
    height: 3px;
    width: 30px;
    background-color: #26461B;
    transition: 0.4s;
}

@media (max-width: 768px) {
    .menu-btn {
        display: flex;
        cursor: pointer;
    }
    .navbar {
        position: relative;
    }

    .links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #7de65a;
        position: absolute;
        top: 60px;
        left: 0px;
        right: 0px;
        z-index: 2;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .links.show {
        display: flex;
    }

    .links a {
        margin: 10px 0;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
    }

    .connect {
        /* margin-top: 1rem; */
        margin: 10px 0;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
    }
}
