/* Add your styles here */

.parters {
    text-align: center;
    padding: 50px;
    background-color: white;
}

.parters h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
}

.partnerflex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.logparterns {
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.logparterns img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;
}

.logparterns:hover {
    transform: scale(1.1) rotate(10deg); 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); 
}

.logparterns:hover img {
    border: 3px solid #fff; 
}
@media screen and (max-width: 768px){
    .partnerflex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
