body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    color: #333;
    margin: 20px 0;
}
.searchdisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    gap: 12px;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
}

.search-form button {
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.filter-container {
    text-align: center;
    margin-bottom: 20px;
}

.filter-container label {
    font-size: 16px;
    margin-right: 10px;
}

.filter-container select {
    padding: 10px;
    font-size: 16px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-image img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.product-details {
    padding: 15px;
}

h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #666;
    font-size: 14px;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .searchdisplay {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 6px;
    }
    .filter-container {
        flex-direction: column;
        align-items: center;
    }

    .filter-container label {
        margin-bottom: 5px;
    }

    .filter-container select {
        width: 100%;
        max-width: 300px;
    }
}
