/* Service.css */

.service_container {
    padding: 40px;
    background-color: #f9f9f9; /* Set a light background color */
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #26461b; /* Set the text color */
}

.cards_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.small_cards {
    width: 300px;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.small_cards:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.videoside {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.videoside iframe {
    width: 100%;
    height: 100%;
}

.content_right {
    padding: 20px;
    text-align: left;
}

p {
    line-height: 1.6;
    color: #666;
}

button {
    font-family: "Arial, sans-serif";
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    background-color: #26461b;
    color: white;
}

button:hover {
    /* background-color: #2980b9; */
    color: white;
    transform: scale(1.05);
}
/* Add these styles to your existing CSS file or create a new one for the offer component */

.offer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #32342f;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(228, 223, 223, 0.1);
    background-color: #f9f9f9;
}

.offer_service {
    width: 300px;
    margin: 20px;
    overflow: hidden;
    text-align: center;
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 10px;
    color: #32342f;
}

p {
    line-height: 1;
    color: #666;
}
@media screen and (max-width: 768px) {
    .cards_container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .small_cards {
        width: 100%;
        margin: 20px 0;
    }
    .offer {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .offer_service {
        width: 100%;
        margin: 20px 0;
    }
}
